body {
  font-family: "Roboto", sans-serif;
  background: #a2ad7a;
}

h1 {
  font-size: 36px;
  margin-top: 6px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

hr {
  margin-bottom: 20px;
  border-color: #a2ad7a;
  opacity: 40%;
}

img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #a2ad7a;
}

strong {
  color: #768053;
}

.display {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 440px;
  display: block;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  margin-top: 28px;
  margin-bottom: 28px;
  padding-bottom: 36px;
}

.greeting {
  font-size: 26px;
}

.introduce {
  margin-bottom: 26px;
}

.social-media {
  font-size: 14px;
  color: #a2ad7a;
  margin: 10px;
}

div {
  text-align: center;
  margin-top: 26px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 26px;
}

.footer {
  color: #65733a;
}
